/* Add CSS Styling */
.bg-color {
    background-color: rgb(rgb(255, 138, 138));
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

.ft-size {
    font-size: 24px;
}

#NumberTwo {
    color: #0000ff;
    font-size: 36px;
}

#NumberFour {

}